<nav class="navbar navbar-expand-lg navbar-custom p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FarmConnect</a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-supplier">sup / Supplier</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Feed</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            View Requests
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="/add-feed">Add Feed</a></li>
            <li><a class="dropdown-item" routerLink="/view-feed">View Feed</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <button class="btn btn-logout">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>